body {
  font-family: sans-serif;
  background: #000000;
  color: #ffffff;
}

a {
  color: #98f506;
}

a:hover {
  color: #ffffff;
}

img {
  width: 100%;
  height: auto;
}

video {
  width: 100%;
}

audio {
  width: 100%;
  opacity: .5;
}

audio:hover {
  opacity: 1;
}
