<footer class="container-fluid">
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <p>2021 Intertext</p>
      <p><em>This webpage is proudly served via <a href="https://pages.github.com/">GitHub Pages</a> over a <a href="https://letsencrypt.org/">Let's Encrypt</a> <a href="https://en.wikipedia.org/wiki/Public_key_certificate">SHA-256 RSA Encrypted SSL Certificate</a> (with ne'er a cookie nor tracker nor JavaScript in sight) and uses <a href="https://www.digitalocean.com/community/tutorials/css-system-font-stack">system font stacks</a>. Unfortunately, each other link out of here <em>will</em> surveil you. Except the <code>gemini</code> one, <a href="https://gemini.circumlunar.space/">which probalby won't work in your browser and requires special software to access</a>.</em></p>
      <p>🪆</p>
    </div>
  </div>
</footer>