<header class="container-fluid">
  <div class="row">
    <div class="col-lg-4 offset-lg-4 col-sm-12">
      <img src="/assets/images/stuxnet.jpg" class="img-fluid no-border my-3" />
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 offset-lg-4 col-sm-12">
      <a href="https://stuxnet.bandcamp.com/album/long-live-the-lost-ones">LONG LIVE THE LOST ONES</a>
      <a href="/assets/images/long-live-the-lost-ones.jpg"><img src="/assets/images/long-live-the-lost-ones.jpg" class="img-fluid mb-3" /></a>
    </div>
  </div>
</header>