<div class="row">
  <div class="col">
    <div class="container-fluid">
      {% assign releases = site.data.releases %}
      {% for release in releases %}
      <div class="row mb-3">
        <div class="col-4 px-0">
          <img src="{{ site.url }}/assets/images/{{ release.image }}"  class="img-fluid" alt="{{ release.title }}"/>
        </div>
        <div class="col-8">
          <details>
            <summary>Listen to {{ release.title }}</summary>
            <ul>
              {% for link in release.links %}
                <li><a href="{{ link.url }}">&#9654; {{ link.title }}</a></li>
              {% endfor %}
            </ul>
          </details>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>