<div class="row">
  <div class="col">
    <div class="container-fluid">
      {% assign releases = site.data.releases %}
      {% for release in releases %}
      <div class="row mb-3">
        <div class="col-4 px-0">
          <a href="{{ release.url }}"><img src="{{ site.url }}/assets/images/{{ release.image }}"  class="img-fluid" alt="{{ release.title }}"/></a>
        </div>
        <div class="col-8">
          <h2><a href="{{ release.url }}">{{ release.title }}</a></h2>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>