<div class="row">
  <div class="col">
    <div class="container-fluid">
      <div class="row mb-3">
        <div class="col-4 px-0">
          <a href="https://stuxnet.bandcamp.com/album/matryoshka-demo"><img src="{{ site.url }}/assets/images/matryoshka.jpg"  class="img-fluid" alt="MATRYOSHKA (demo)"/></a>
        </div>
        <div class="col-8">
          <h2><a href="https://stuxnet.bandcamp.com/album/matryoshka-demo">MATRYOSHKA (demo)</a></h2>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-4 px-0">
          <a href="https://distrokid.com/hyperfollow/stuxnet/cipher-suite-demo"><img src="{{ site.url }}/assets/images/cipher-suite.jpg"  class="img-fluid" alt="CIPHER SUITE (demo)"/></a>
        </div>
        <div class="col-8">
          <h2><a href="https://distrokid.com/hyperfollow/stuxnet/cipher-suite-demo">CIPHER SUITE (demo)</a></h2>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-4 px-0">
          <a href="https://distrokid.com/hyperfollow/stuxnet/carrier-demo"><img src="{{ site.url }}/assets/images/carrier.jpg"  class="img-fluid" alt="CARRIER (demo)"/></a>
        </div>
        <div class="col-8">
          <h2><a href="https://distrokid.com/hyperfollow/stuxnet/carrier-demo">CARRIER (demo)</a></h2>
        </div>
      </div>
    </div>
  </div>
</div>