$bandcampBodyColor: #000000
$bandcampLinkColor: #98F506
$bandcampTextColor: #6E6E6E

$linkBorder: 1px solid $bandcampLinkColor

$monoFontStack: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace
$serifFontStack: Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol
$sansSerifFontStack: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"

body 
  background: $bandcampBodyColor
  color: $bandcampTextColor
  font-size: 1rem

h1
  margin: 0
  font-size: 4rem
  font-family: $serifFontStack

summary
  font-size: 1rem

a,
a:link,
a:hover,
a:active,
a:visited,
summary
  color: $bandcampLinkColor

img
  border: $linkBorder

ul
  list-style: none
  margin: 0
  padding: 0

  a
    border: $linkBorder
    padding: .33rem
    font-size: 1.33rem

details ul a
  font-size: 1rem
  border: none

code
  font-family: $monoFontStack
  color: $bandcampTextColor

hr
  border-top: .33rem solid $bandcampTextColor

em
  font-size: .66rem