$stuxnetLogoColor: #FFFFFF
$bandcampBodyColor: #000000
$bandcampLinkColor: #98F506
$bandcampTextColor: #6E6E6E

$linkBorder: 1px solid $bandcampBodyColor
$linkBorderHover: 1px solid $bandcampLinkColor

$monoFontStack: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace
$serifFontStack: Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol
$sansSerifFontStack: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"

body 
  background: $bandcampBodyColor
  color: $bandcampTextColor
  font-size: 1rem

::selection
  background: $bandcampLinkColor
  color: $bandcampBodyColor

h1
  color: $stuxnetLogoColor
  font-size: 1.5rem

  span
    font-size: 1rem

  &.big
    font-family: $sansSerifFontStack
    text-transform: uppercase
    font-size: 2rem
    color: $stuxnetLogoColor
    border-bottom: 2px solid $bandcampTextColor

  &.cta
    font-family: $sansSerifFontStack
    text-transform: uppercase
    font-size: 1.5rem
    color: $stuxnetLogoColor
    text-align: center
    width: 100%

p, code
  color: $bandcampTextColor

a,
a:link,
a:hover,
a:active,
a:visited,
summary
  color: $bandcampLinkColor

a img
  width: 100%
  height: auto
  margin-bottom: 1rem
  border: $linkBorder

  &:hover
    border: $linkBorderHover

ul
  list-style: none
  margin: 0
  padding: 0

  li
    margin: 0 0 1rem 0
    padding: 0

    a
      border: $linkBorder
      padding: .33rem
      font-size: 1.33rem

ol
  li
    color: $bandcampTextColor

hr
  border: none
  border-bottom: 2px solid $bandcampTextColor

.container-fluid
  max-width: 1048px
  margin: 0 auto