<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
{% include head.html %}
<body>
<main class="container-fluid px-3">
  <div class="row my-3">
    <div class="col">
      <img src="/assets/images/stuxnet.png" class="img-fluid" />
    </div>
  </div>
  <div class="row my-3">
    <div class="col">
      <h1 class="cta"><a href="https://stuxnet.bandcamp.com/album/in-darkness-radiant">&#9654;DOWNLOAD IN DARKNESS RADIANT NOW</a></h1>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col">
      <h1 class="big">Releases</h1>
    </div>
  </div>
  {% assign releases = site.data.releases %}
  {% for release in releases %}
  <div class="row d-md-none">
    <div class="col">
      <h1>{{ release.title }}&nbsp;<span>{{ release.date | date: "%Y" }}</span></h1>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-12 col-md-4">
      <a href="{{ site.url }}/assets/images/{{ release.image }}"><img src="{{ site.url }}/assets/images/{{ release.image }}"  class="img-fluid" alt="{{ release.title }}"/></a>
      <ul>
        {% for link in release.links %}<li><a href="{{ link.url }}">&#9654; {{ link.title }}</a></li>{% endfor %}
      </ul>
    </div>
    <div class="col-12 col-md-8 pl-md-4">
      <h1 class="d-none d-md-block">{{ release.title }}&nbsp;<span>{{ release.date | date: "%Y" }}</span></h1>
      <ol>
        {% for track in release.tracks %}<li>{{ track }}</li>{% endfor %}
      </ol>
      {{ release.notesHtml }}
      <hr>
      <p>released {{ release.date | date: "%B %-d, %Y" }}</p>
      {{ release.creditsHtml }}
    </div>
  </div>
  {% endfor %}
  <div class="row mb-3">
    <div class="col">
      <h1 class="big">About</h1>
    </div>
  </div>
  <div class="row d-md-none">
    <div class="col">
      <h1>STUXNET is Tyler Etters</h1>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-sm-12 col-md-4">
      <a href="{{ site.url }}/assets/images/profile-full.jpg"><img src="{{ site.url }}/assets/images/profile.jpg"  class="mb-3" alt="STUXNET"/></a>
      <ul>
        <li><a href="https://open.spotify.com/artist/4rGnoYEZd0ffwN0ySOX1b7?si=D348YPQ5RJW1SKSPDy3L0A">&#9654; STUXNET on Spotify</a></li>
      </ul>
    </div>
    <div class="col-sm-12 col-md-8 pl-md-4">
      <h1 class="d-none d-md-block">STUXNET is Tyler Etters</span></h1>
      <p>Los Angeles, California</p>
      <p>The figure runs towards the door of the strip mall.</p><p>He holds a designer computer and a bottle of Florida water.</p><p>The door can only be opened from the other side.</p>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col">
      <h1 class="big">Intertext</h1>
    </div>
  </div>
  <div class="row d-md-none">
    <div class="col">
      <h1>May we rave atop burning oil derricks... and sink into the sea.</h1>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-sm-12 col-md-4">
      <a href="{{ site.url }}/assets/images/sunrise-hotel.jpg"><img src="{{ site.url }}/assets/images/sunrise-hotel.jpg"  class="mb-3" alt="SUNRISE HOTEL"/></a>
      <ul>
        {% for item in site.data.links %}<li><a href="{{ item.url }}">&#9654; {{ item.title }}</a></li>{% endfor %}
      </ul>
    </div>
    <div class="col-sm-12 col-md-8 pl-md-4 d-none d-md-block">
      <h1>May we rave atop burning oil derricks... and sink into the sea.</h1>
    </div>
  </div>
</main>
</body>
</html>